<div
  class="layout-container"
  style="height: 100%; display: flex; flex-flow: column; align-items: center"
>
  <div style="margin: 15vh auto">
    <h1 style="text-align: center">Boiler Plate: Angular V16.2</h1>
    <h3>What's inside?</h3>
    <span>root: src/app/</span>
    <div>
      <ol>
        <li>Out-of-the-box folder architecture design</li>
        <li>
          Ready-to-use Material Design modules
          [shared/modules/material.module.ts]
        </li>
        <li>
          Dedicated Services:
          <ul style="font-size: smaller">
            <li>ApiService [core/services/api.service.ts]</li>
            <li>RxjsService [shared/services/rxjs.service.ts]</li>
            <li>DataService [shared/services/data.service.ts]</li>
          </ul>
        </li>
        <li>Enums and Interfaces [core/models]</li>
        <li>
          Exported modules and components
          <ul style="font-size: smaller">
            <li>Modules [shared/modules/export.modules.ts]</li>
            <li>Components [shared/components/export.components.ts]</li>
          </ul>
        </li>
      </ol>
      <span>And much more..</span>
    </div>
  </div>
  <div
    style="
      position: absolute;
      bottom: 25vh;
      font-size: smaller;
      display: flex;
      flex-flow: column;
      align-items: center;
    "
  >
    <span style="color: #464646"
      >To remove above placeholder text, go to:
    </span>
    <b style="color: red !important; font-size: small">
      shared/components/static/layout/layout.component.html</b
    >
    <p style="color: #464646; font-size: x-small">
      created by Jonathan Daniel [JDev-il]
    </p>
  </div>
</div>
